HOSTNAME="cache01.linuxmuster.lan"
DOMAIN="LINUXMUSTER.LAN"
NETBIOS="LINUXMUSTER"
DCIP="10.0.0.1"
ADMINUSER="global-admin"
ADMINPASSWORD="Muster!"
INTERVAL="600"
DNSFORWARDER="10.0.0.254"
MODE="DC" # could be DC or RODC (read-only)
RSYNCSECRET="Muster!"